<a href="https://colab.research.google.com/github/JonaJS/E_Pandas/blob/main/Chptr5_Series%2BDeep%2BDive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
URL = 'https://github.com/mattharrison/datasets/raw/master/data/vehicles.csv.zip'

While the zip file only contains a csv file, we can read it directly with pandas. Otherwise, if the zip file contains multiple csv files then we'll have to unzip it and indicate which file we want to read.

In [5]:
import pandas as pd
df = pd.read_csv(URL)
city_mpg = df.city08
highway_mpg = df.highway08

<ipython-input-5-744799a3d6f0>:2: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(URL)

In [6]:
city_mpg

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: int64

In [7]:
highway_mpg

0        25
1        14
2        33
3        12
4        23
         ..
41139    26
41140    28
41141    24
41142    24
41143    21
Name: highway08, Length: 41144, dtype: int64

Each series has around 4000 integer entries. Because the type of these series are int64, we know that none of the values are missing (because if it was, the type of the series would be float64 - remember that NaN is a float-type object).

### Series Attributes

The dir function will list the attributes of an object. Let's examine how many attributes there are on a series.

In [8]:
len(dir(city_mpg))

420

There are over 400 attributes on a series. What functionality do all of these attributes provide? Here is a summary.

There are many ways to categorize these, and I'm roughly going to do it by what the result of the method is:



*   Dunder methods (`.__add__`, `.__iter__`, etc) provide many numeric operations, looping, attribute access, and index access. For the numeric operations, these return `Series`.
*   Corresponding operator methods for many of the numeric operations allow us to tweak the behavior (there is an `.add` method in addition to `.__add__`)
*   Aggregate methods and properties which reduce or aggregate the values in a series down to a single scalar value. The `.mean`, `.max` and `.sum` methods and `.is_monotonic` property are all examples.
*   Conversion methods. Some of these start with `.to_` and export the data to other formats.
*   Manipulation methods such as `.sort_values`, `.drop_duplicates`, that return `Series` objects ***with the same index***.
*   Indexing and accessor methods and attributes such as .loc and .iloc. These return `Series` or scalars.
*   String manipulation methods using `.str`.
*   Date manipulation methods using `.dt`.
*   Plotting methods using `.plot`.
*   Categorical manipulation methods using `.cat`.
*   Transformation methods such as `.unstack` and `.reset_index`, `.agg`, `.transform`.
*   Attributes such as `.index` and `.dtype`.
*   A bunch of private attributes that we'll ignore (around 130 of them).