<a href="https://colab.research.google.com/github/JonaJS/E_Pandas/blob/main/Chptr4_Series%2BIntroduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
series = {
    'index': [0, 1, 2, 3],
    'data': [145, 142, 38, 13],
    'name': 'songs'
}

In [2]:
def get(series, index):
  value_idx = series['index'].index(index)
  return series['data'][value_idx]

In [3]:
get(series=series, index=3)

13

In [4]:
songs = {
    'index': ['Paul', 'John', 'George', 'Ringo'],
    'data': [145, 142, 38, 13],
    'name': 'counts'
}

In [5]:
def get(series, index):
  value_idx = series['index'].index(index)
  return series['data'][value_idx]

In [6]:
get(series=songs, index='John')

142

Pandas series.

In [7]:
import pandas as pd
songs = pd.Series([145, 142, 38, 13], name='counts')

In [8]:
songs

0    145
1    142
2     38
3     13
Name: counts, dtype: int64

In [9]:
songs.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
songs3 = pd.Series([145, 142, 38, 13],
                   name='counts',
                   index=['Paul', 'John', 'George', 'Ringo']
                   )

In [11]:
songs3

Paul      145
John      142
George     38
Ringo      13
Name: counts, dtype: int64

In [12]:
songs3.index

Index(['Paul', 'John', 'George', 'Ringo'], dtype='object')

The actual data (or values) for a series does not have to be numeric or homegeneous. We can insert Python objects into a series.

In [13]:
class Foo():
  pass

ringo = pd.Series(['Richard', 'Starkey', 13, Foo()], name='Ringo')

In [14]:
ringo

0                                    Richard
1                                    Starkey
2                                         13
3    <__main__.Foo object at 0x78c64f3a5c60>
Name: Ringo, dtype: object

The NaN value

In [15]:
import numpy as np
nan_series = pd.Series([2, np.nan], index=["Ono", "Clapton"])

In [16]:
nan_series

Ono        2.0
Clapton    NaN
dtype: float64

When pandas sees numeric data (number 2) as well np.nan, it coerced the 2 to a float value.

Example of how pandas ignores NaN values.
.count() method, which counts the number of values in a series, disregards NaN.

In [17]:
nan_series.count()

1

Inspect the number of entries (including missing values)

In [18]:
nan_series.size

2

Optional integer support for NaN.

In [20]:
nan_series2 = pd.Series([2, np.nan], index=['Ono', 'Clapton'], dtype='Int64')
nan_series2

Ono           2
Clapton    <NA>
dtype: Int64

Operations on these series still ignore NaN or < NA >

In [21]:
nan_series2.count()

1

In [22]:
nan_series2.size

2

Oher way to change the dtype o a series

In [23]:
nan_series

Ono        2.0
Clapton    NaN
dtype: float64

In [25]:
print(nan_series.astype('Int64'))

Ono           2
Clapton    <NA>
dtype: Int64

Similar to Numpy.

In [26]:
songs3

Paul      145
John      142
George     38
Ringo      13
Name: counts, dtype: int64

145